.tag-cloud {
    list-style: none;
    padding: 0;
    text-align: justify;
    font-size: 16px;
}
#archives {
    padding: 5px;
}
.archive-group {
    margin: 5px;
    border-top: 1px solid #ddd;
}
.archive-item {
    margin-left: 5px;
}
.post-tags {
    text-align: right;
    font-style: italic;
}