.tag-cloud {
    list-style: none;
    padding: 0;
    text-align: justify;
    font-size: 16px;
}
#archives {
    padding: 5px;
}
.archive-group {
    margin: 5px;
    border-top: 1px solid #ddd;
}
.archive-item {
    margin-left: 5px;
}
.post-tags {
    text-align: right;
    font-style: italic;
}
.post-stats {
    text-align: left;
    font-style: italic;
}

figure {
    display: table;
    margin: 6px 6px 6px 6px;
}

figcaption {
    font-size: smaller;
    display: table-caption; /* aligns size to the table of the figure */
    caption-side: bottom; /* makes the caption appear underneath the image/figure */
}

.subheadingCode {
  font-size: 18px;
  line-height: 1.1;
  font-family: Courier, sans-serif;
  margin: 10px 0 0;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #000000;
}

th{
    border:2px solid #000000;
}

td{
    border:1px solid #000000;
    padding: 5px;
}